<div class="layout">
  <%= render 'shared/header' %>
  <div class="wrap">
    <!-- <p id="notice"><%= notice %></p> -->
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <%= link_to 'New Buy', new_buy_path %> 
    <br />
    <br />
    <br />

    <% if user_signed_in? %>
      Hello, <%= current_user.name %><br />
      How are you TODAY? :D
    <% else %>
      Welcome Everyone :D
    <% end %>
    
    <% if current_user.try(:admin?) %>
      <p>You Are Admin</p>
    <% end %>

    <h1>Buys</h1>
    <%= link_to 'My Order', iwrotes_path(@buy) %>
    <br />
    <br />


    <% @buys.each do |buy| %>
        <%= link_to (image_tag buy.buyimage.url(:small)), buy %>
        <h2><%= link_to buy.buy_title, buy %></h2>
        <p><%= buy.user.name %></p>
        <p><%= buy.buy_description %></p>
        <%= link_to 'Show', buy %>
        <%= link_to 'Edit', edit_buy_path(buy) %>
        <%= link_to 'Destroy', buy, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= pluralize(buy.buycomments.count, "Comment") %>
        <br />
        <br />
        <br />
    <% end %>
   
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
